#about{
    overflow: hidden;
}

.aboutContainer{
    text-align: left;
    gap: 40px;
    padding:0px 150px;
}

.myAboutImage{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin-bottom: 30px;
}

.imageBox{
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.aboutButtons{
    flex-direction: column;
    gap: 10px;
}
.aboutButtons button{
    height: 45px;
    width: 250px;
    border-radius: 10px;
    font-size: 20px;
    background: rgb(11, 11, 11);
    color: white;
    border: none;
    outline: none;
}

.aboutDesContainer{
    padding: 20px;
    border-radius: 10px;
    letter-spacing: 2px;
    background: rgb(11, 11, 11);;
}
.aboutDesContainer ul{
    padding-left: 20px;
}

.aboutDesContainer h2{
    margin-bottom: 10px;
}
.stream{
    margin-top: 15px;
}

.uni{
    font-size: 15px;
}

.outcomes{
    font-size: 13px;
    margin-left: 30px;
}


@media screen and (max-width:1420px){
    #about h1{
        margin-bottom: 20px;
    }
    .aboutContainer{
        padding-left: 50px;
        padding-right: 100px;
    }
}
@media screen and (max-width:1240px){
    .aboutContainer{
        margin-bottom: 50px;
    }
    
}
@media screen and (max-width:1045px) {
    .imageBox .myAboutImage{
        height: 150px;
        width: 150px;
    }
    .aboutButtons button{
        width: 170px;
        font-size: 15px;
    }
    .aboutContainer{
        gap: 15px;
        padding-left: 100px;
    }
    .stream{
        font-size: 15px;
    }
    .uni{
        font-size: 12px;
    }
    .outcomes{
        font-size: 12px;
    }
    .summary, .hobbies{
        font-size: 13px;
    }
}


@media screen and (max-width:779px) {
    .aboutContainer{
        flex-direction: column;
    }
    .imageBox{
        flex-direction: column;
        align-items: center;
    }
    .aboutButtons{
        flex-direction: row;
    }
    .aboutButtons button{
        width: 100px;
    }
}
@media screen and (max-width:765px) {
    .aboutContainer{
        padding: 40px;
    }
}

@media screen and (max-width:612px){
    .aboutContainer .myAboutImage{
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width:549px){
    #about h1{
        margin-left: 40px;
    }
    
    .aboutContainer{
        padding: 5px;
        padding-left: 30px;
    }
    .aboutButtons button{
        height: 40px;
    }
}

@media screen and (max-width:402px) {
    .aboutButtons button{
        width: 90px;
    }
}