
.contactContainer{
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.contactContainerLeft{
    text-align: left;
    background: rgb(11, 11, 11);
    width: 500px;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
}
.contactContainerLeft form{
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.contactContainerLeft h2{
    margin-bottom: 10px;
    color: var(--primary-color);
}

.contactContainerLeft form input, .contactContainerLeft form button{
    height: 50px;
    width: 300px;
    font-size: 18px;
    padding-left: 10px;
    font-family: "Poppins";
    outline: none;
}

.contactContainerLeft form textarea{
    width: 300px;
    padding: 10px;
    outline: none;
    font-size: 18px;
    font-family: "Poppins";
}
.contactContainerLeft form button{
    background: var(--primary-color);
}

.contactContainerLeft form button:hover{
    background: #0e5169;
    color: white;
 }

 .contactContainerRight{
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 50px;
    height: 400px;

 }
 .contactContainerRight section .contactIcon{
    float: left;
    margin-right: 10px;
 }
 .contactContainerRight section{
    text-align: left;
    width: 300px;
 }


 @media screen and (max-width:1000px) {
    .contactContainer{
        gap: 20px;
    }
    .contactContainerLeft{
        width: 400px;
    }
 }
 @media screen and (max-width:871px) {
   .contactContainerLeft{
    width: 300px;
   }
   .contactContainerLeft form input,.contactContainer form button{
    width:200px;
    height: 40px;
    font-size: 15px;
   }
   .contactContainerLeft form textarea{
    width: 200px;
    height: 100px;
    padding: 4px;
    font-size: 15px;
   }
   .contactContainerRight section{
    font-size: 15px;
   }
 }
 @media screen and (max-width:742px) {
    .contactContainer{
        justify-content: flex-end;
    }
    .contactContainerRight section{
        width: 270px;
        font-size: 13px;
    }
 }
 @media screen and (max-width:677px) {
    .contactContainer{
        flex-direction: column-reverse;
    }
    .contactContainerLeft{
        padding: 10px;
        width: 240px;
        margin-bottom: 30px;
    }
    .contactContainerRight{
        margin-bottom: 0px;
        gap: 20px;
        height: fit-content;
    }
    
 }