.app{
  background: black;
  color: white;
  height: fit-content;
  width: 100%;
  font-family: "Poppins";
}

hr {
  border: none;
  border-bottom: dotted 10px var(--primary-color);
  width: 100px;
  margin: auto;
}