*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #47c0ec;
}

.primary-color{
  color: var(--primary-color);
}
.flex-box{
  display: flex;
}
.section{
  padding: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.section-container{
  margin-bottom: 100px;
}

.section-heading{
  margin-bottom: 80px;
}